# Secrets
render_secrets.txt
.env
.env.local
.env.production

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
*.egg-info/
dist/
build/


uploads/

# Logs
logs/
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Database
*.db
*.sqlite
*.sqlite3

# HF model weights
kenyan-kyc-backend/app/models/layoutlmv3_receipt_model/checkpoint-1000/
**/*.safetensors
*.bin
*.pt
*.onnx
